.header-house {
  border-top: 9px solid #ffdd00;
}
.grid-navbar {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  height: 125px;
}
.list_navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: 50%;
  align-items: center;
}
.list_navbar li a {
  color: black;
  font-size: 13px;
  font-family: "Gilroy Regular";
  text-transform: uppercase;
}

.list_navbar li:hover {
  border-bottom: 2px solid #ffdd00;
}

/*******************************************/

.img-slider {
  width: 100%;
  object-fit: cover;
}
.content-info-slider {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  height: 100%;
  align-content: center;
  color: white;
  padding: 0 20px;
}
.title-slider {
  font-family: "Gilroy Black";
  font-size: 28px;
}
.subtitle-slider {
  font-family: "Gilroy Light";
  font-size: 18px;
}
.content-titles-slider {
  width: 900px;
}
.carousel .carousel-control-prev-icon {
  display: none;
}
.carousel .carousel-control-next-icon {
  display: none;
}
.carousel .carousel-indicators li {
  border-radius: 10%;
}
.carousel-indicators li {
  background-color: #ffdd00;
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffdd00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 99;
  transform: translateX(-100%);
  transition: 0.5s;
}
#menu-overlay.active {
  transform: translateX(0);
}

#menu-overlay ul {
  position: relative;
  padding: 0;
}
#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
  padding: 10px 0px;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Muller Regular";
  letter-spacing: 1px;
}
#menu-overlay ul li a:hover {
  letter-spacing: 6px;
}

#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #ffdd00 url(../../images/open.png);
  z-index: 999;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 15%;
}
#toggleIcon.active {
  background: #dec522 url(../../images/close.png);
  border-radius: 15%;
}
.menu {
  display: none;
}
.navbar-web {
  display: none;
}
.img-logo-navbar-movil {
  padding: 10px 0 30px 10px;
}

@media screen and (min-width: 768px) {
  .content-info-slider {
    padding: 0 0;
  }
  .title-slider {
    font-family: "Gilroy Black";
    font-size: 43px;
    text-align: center;
  }
  .subtitle-slider {
    text-align: center;
  }
  .content-titles-slider {
    width: 780px;
  }
}

@media screen and (min-width: 1024px) {
  .title-slider {
    text-align: initial;
  }
  .subtitle-slider {
    text-align: initial;
  }
  .content-titles-slider {
    width: 900px;
  }
  .navbar-web {
    display: block;
  }
  #navbar-movil {
    display: none;
  }
  .img-logo-navbar-movil {
    display: none;
  }
}
